body{
    background-color: whitesmoke;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    Color: rgb(2, 68, 2)
}
h1 {
    color: gold;
    font-size: 24px;
  }
  h2{
    color: purple;
  }
  h2{
    font-family: fantasy;
  }